body {
    margin: 0;
    padding: 0;
    color: #95989A;
}

.top-color {
    width: 100%;
    height: 20px;
    border-collapse: collapse;
}

.top-color td {
    margin: 0;
    padding: 0;
}

.top-color td.black {
    width: 30%;
    background-color: #231F20;
}

.top-color td.red {
    width: 70%;
    background-color: #C0202F;
}

.navbar {
    background: #fff;
}

.navbar.navbar-vsp a{
    color: #95989A;
}

.vertical {
    border-left: 1px solid #95989A;
}

li.nav-item.active a {
    color: #C0202F!important;
    font-weight: bold;
}

.red {
    color: #C0202F;
}

.btn-vsp {
    border-color: #95989A;
    color: #95989A;
    background: none;
}

.btn-vsp:hover {
    border-color: #C0202F;
    color: #C0202F;
}

.news {
    background-color: #000000;
    opacity: 0.5;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 0;
    border: 0;
}

.news .subtitle, .news .title, .news .date {
    display: block;
    color: #fff;
}

.card-news {
    border-radius: 0;
    border: 0;
}

.card-news img {
    opacity: 0.6;
}
